PORT=5000
MONGODB_URI=mongodb+srv://chaithramb21_db_user:5pRFoUiOmhINQKEi@cluster0.95mmrdi.mongodb.net/golf-charity?appName=Cluster0
JWT_SECRET=golf_charity_jwt_secret
JWT_EXPIRE=30d
FRONTEND_URL=http://localhost:5173
